.top {
	background-color: rgb(232,182,12);
}

.title {
	margin-left: 10px;
}

img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.name {
	font-weight: bold;
}

.desc {
	padding-bottom: 10px;
}

.card {
	border: 1px solid lightgrey;
	padding: 0;
	margin-bottom: 15px;
}

.card p {
	margin-left: 10px;
}


.row {
	margin-top: 20px;
}

